{% extends "base.html" %}

{% block content %}
<div class="container">
    <div class="jumbotron">
        <h1>401 (Bad Request)</h1>
    </div>
        <p>The 401 Unauthorized error is an HTTP status code that means the page you were trying to access cannot be loaded until you first log in with a valid user ID and password. If you have just logged in and received the 401 Unauthorized error, it means that the credentials you entered were invalid for some reason.</p>

        
</div>
{% endblock %}
