{% extends "bootstrap/base.html" %}
{% import "bootstrap/fixes.html" as fixes %}






{% block styles %}
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
    {{super()}}
    {{fixes.ie8()}}
    <!--<link rel="stylesheet" href="{{ bootstrap_find_resource('bootstrap.css', 'cyborg', local=False) }}"-->
    <link rel="stylesheet" href="/static/styles/peer.css">



    <style>

    body {
        min-height: 2000px;
        padding:5px;
        padding-top: 70px;

        line-height:1.7;
    }
    .navbar {
        margin-bottom: 0px;
    }
    </style>
{% endblock %}
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
{% block navbar %}
<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      {% if front_end %}
      <a class="navbar-brand" href="/">{{ front_end.app_name }}</a>
      {% else %}
      <a class="navbar-brand" href="/">Open Prose Metrics</a>
      {% endif %}
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><a href="#report_info">Meta-Data<span class="sr-only"></span></a></li>
        <li><a href="#essay_info">Summary<span class="sr-only"></span></a></li>
        <li><a href="#readability">Complexity<span class="sr-only"></span></a></li>
        <li><a href="#tone">Voice<span class="sr-only"></span></a></li>
        <li><a href="#concision">Concision<span class="sr-only"></span></a></li>
        <li><a href="#unity">Cohesion<span class="sr-only"></span></a></li>
        <li><a href="#prescription">Style<span class="sr-only"></span></a></li>
        <li><a href="#spelling">Convention<span class="sr-only"></span></a></li>
        <li><a href="#xray">Sentences<span class="sr-only"></span></a></li>


        <!--<li role="separator" class="divider"></li>-->



      </ul>
      <div class="navbar navbar-right">


      <ul class="nav navbar-nav">
        <!--<li><a title="Save" href = "{{ "/feedback/" + object.time_stamp + "/shelve/" }}"><span style="padding:15px; font-size:25px; vertical-align:top" {{ icon |safe}} </span> </a></li>-->
        <li><a title="Save" href="{{ "/feedback/" + object.time_stamp + "/shelve/" }}">{{ icon |safe}}</a></li>
        <li><a title="Print"><span onClick="window.print()" title="print" style="vertical-align:top" class="glyphicon glyphicon-print hidden-print"></span></a></li>
      {% if "tts" not in request.path and "shelve" not in request.path %}
        <li><a href="{{ request.path + "/tts/" }}" title="Text to Speech"><span style="vertical-align:top" class="glyphicon glyphicon-headphones hidden-print"></span></a></li>
      {% endif %}
     {% if "tts" in request.path %}
      <li><a href="javascript:history.back()" title="Feedback"><span style="vertical-align:top" class="glyphicon glyphicon-file hidden-print"></span></a></li>
      {% endif %}
      </ul>
      </div>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
{% endblock %}




{% block content %}
{% endblock%}
