{% extends "basebase.html" %}

{% block content %}

<div style="margin-top:70px" class="container">
<div class="row">

    <h1>Specify an URL Below, Please.</h1>
        <div class="col-md-9">
            <div class="alert alert-warning">This tool evaluates English
                texts only.</div>
          <style>
            input:invalid {
              border-left-color: salmon;
            }
          </style>
            <form id="getInput" autocomplete="off" method=post enctype=multipart/form-data>

                    <div class="form-group">
                        <label for="author">Author</label>
                        <input class="form-control" type="text text-muted" id="author" class="form-control" name="author" placeholder="Unidentified Author" />
                    </div>
                    <label hidden id="email2">Email: </label><input hidden id="email_add" name="email_add"></label>

                    <div class="form-group">
                        <label for="administrator">Administrator's Name</label>
                        <input class="form-control" type="text text-muted" id="administrator" class="form-control" name="administrator" placeholder="Unidentified Administrator"  />
                    </div>
                    <div class="form-group">
                        <label for="plaintext">Site URL <span class="label label-primary">Required</span></label> </label>
                        <input class="form-control" type="url" class="form-control" name="plaintext" id="plaintext" placeholder="https://tld/sub" pattern="https?://.+" required/>
                    </div>


                    <div class="form-group">
                        <label for="notes">Administration Notes</label>
                        <textarea class="form-control" name="notes" id="notes" rows="9">No note attached.</textarea>
                    </div>
                    <div class="form-check">
  <label class="form-check-label">
    <input class="form-check-input" type="radio" name="apis" id="requests_disable" value="no" checked hidden>
    <!--Do not make external requests (fewer features, less time to process)-->
  </label>
</div>
<div class="form-check">
  <label class="form-check-label">
    <input class="form-check-input" type="radio" name="apis" id="requests_enable" value="yes" hidden>
    <!--Rely on external resources (extended features and results)-->
  </label>
</div>

                <p><button class="btn btn-primary " type="submit" id="submitButton">Submit</button>&nbsp;<span id="spinner"><img src="/static/images/giphy2.gif" width="15%" /></span></p>
            </form>
        </div>
        <div class="col-md-3">
          <img class="img-responsive" style="float:right" src="/static/images/logo.png" width=35% class="img img-responsive pull-right">
         </div>

    </div><!-- END ROW -->

</div><!-- CLOSE CONTAINER-->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>

<script>
$(document).ready(function () {
    $('#email2').hide()
    $( "#spinner").hide()
    $( "form" ).submit(function( event ) {
        $( "#submitButton").hide();
        $( "#spinner").show();

    });
});
</script>

{% endblock %}
