{% extends "base.html" %}





{% block content %}
<div class="container">
    <div class="jumbotron">
        <h1>Extra Eyes: <small>Usage Suggestions</small></h1>
        <p>Placeholder for usage tips, troubleshooting, etc</p>
    </div>
<p>Usage information placeholder</p>
<div class="row">
  <div class="col-md-4">
    <h2>Getting Started</h2>
    <p>Select a file for analysis and ensure it's in one of the following formats: .docx, .odt, or .txt. Microsoft Word, LibreOffice, and Google Docs can all "export" or "download as" to one of these formats. Be sure of the location of the prepared document on your local storage.</p>
    <p>Once you have your document prepared and ready, it's time to <a href="upload.html">upload the document</a>. Click the Select File... button on the <a href="upload.html">upload page</a>. Once you've selected the file, simply click the Submit button beneath the file dialog on the same uploads page.</p>
  </div>
</div>
</div>
{% endblock %}
